<!DOCTYPE html>
{% include 'navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
</head>
<body>
    <div class="card">
        <div class="card-body" style="font-size: 30px; text-align: center">
            Contact Us
<br>
            Have questions, feedback, or inquiries? Reach out to us using the form below or contact us directly via email or phone.
            <br>
            Email: contact@naturesbeauty.com <br>
            Phone: +91-2321-Nature  
        </div>
      </div>
</body>
</html>